# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/frontend_jasmine/node_modules
/frontend_jasmine/.pnp
/frontend_jasmine/.pnp.js

/backend_jasmine/node_modules
/backend_jasmine/.pnp
/backend_jasmine/.pnp.js

# testing
/coverage
/frontend_jasmine/coverage
/backend_jasmine/coverage

# production
/build
/frontend_jasmine/build
/backend_jasmine/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*